---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Dashboard">
  <main class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="w-full max-w-md p-8 space-y-4 bg-white rounded-lg shadow-md">
      <h2 class="mt-6 text-3xl font-semibold text-left text-gray-900">
        Bienvenido al Dashboard
      </h2>
      <p class="mt-2 text-left text-sm text-gray-600">
        Esta es tu página de inicio después de iniciar sesión.
      </p>
    </div>
  </main>
</Layout>
